


<footer>
<br>
<br>
	<nav>
<table>


<th>
<td>
		<ul>
            		<li class="first"><a href="http://www.chicagomusicmagazine.com/reviews/">REVIEWS</a></li>
            		<li><a href="http://www.chicagomusicmagazine.com/reviews/?filter=concert">Concerts</a></li>
            		<li><a href="http://www.chicagomusicmagazine.com/reviews/?filter=festival">Festivals</a></li>
            		<li><a href="http://www.chicagomusicmagazine.com/reviews/?filter=album">Albums</a></li>
            		<!--<li><a href="http://www.chicagomusicmagazine.com/reviews/?filter=music_video">Music Videos</a></li>-->
            	</ul>
</td>
<td>
	  	<div class="footer-divider"></div>
            	<ul>
            		<li class="first"><a href="http://www.chicagomusicmagazine.com/interviews/">INTERVIEWS</a></li>
            	</ul>
            	<div class="footer-divider"></div>
            	<ul>
            		<li class="first"><a href="">MEDIA</a></li>
            		<li><a href="http://www.chicagomusicmagazine.com/media/photos">Photos</a></li>
            		<li><a href="http://www.chicagomusicmagazine.com/media/video">Video</a></li>
            	</ul>
            	<div class="footer-divider"></div>
</td>
          <td>
          	            	<ul>
            		<li class="first"><a href="http://www.chicagomusicmagazine.com/spotlight/">SPOTLIGHT</a></li>
            	</ul>
            	<div class="footer-divider"></div>
            	<ul>
            		<li class="first"><a href="http://www.chicagomusicmagazine.com/local-pulse/">LOCAL PULSE</a></li>
            	</ul>
            	<div class="footer-divider"></div>
            	<ul class="last">
            		<li class="first"><a href="http://www.chicagomusicmagazine.com/contact/">CONTACT</a></li>
            	</ul>
          
          </td>



</th>
            	
     </table>
                 <p class="copyright">&copy; 2012 Chicago Music Magazine, LLC .  <a href="/wp-admin/">Log in</a>   |   <a href="/privacy-policy/">Privacy Policy</a>   |   <a href="/terms-of-use/">Terms of Use</a>   |   <a href="/advertising/">Advertising</a></p>
  </nav>
</footer>
<footer class='footer'>

	<div class='container'>

		<p class='text-muted'>&copy; 2017 Chicago Music Magazine</p>





	</div>

</footer>
