{% extends "base.html" %}


{% block content %}
<p>
	<h1 class="page-title" itemprop="headline">Who We Are:</h1>

		<p style="text-align: left;">Chicago Music Magazine (CMM) was Founded in February 2012 by Chicago-based entrepreneur Shawn Kellner</p>
		<p style="text-align: left;">Chicago Music Magazine is an online editorial music magazine and revolutionary new music discovery tool.</p>
		<p style="text-align: left;">Our focus is to expose our readers to new music daily while enhancing their live music experience.</p>
		<p style="text-align: left;">The company operates from its Chicago based headquarters inside the world famous Paragon Recording Studios located at: 820 W. Fulton Market, 4th Floor, Chicago, IL.</p>
		<p style="text-align: left;">Chicago Music Magazine is the eyes and ears of a fan-forward inspiration.</p>
		<p style="text-align: left;">The site&#8217;s traffic is driven by authentic content and a media-focused and driven attention to detail.</p>
		<p style="text-align: left;">Chicago Music Magazine embraces and balances the necessity of journalistic integrity alongside the fundamental interests of its readers.</p>
		<p style="text-align: left;">A fan-forward approach is taken in the creation of all content.</p>
		<p style="text-align: left;">Welcome To <strong>WWW.CHICAGOMUSICMAGAZINE.COM</strong></p>
		<p style="text-align: left;">&#8220;Come Discover New Music With Us&#8221;</p>


</p>

{% endblock %}