{% extends "base.html" %}


{% block content %}
<p>
Contact
Chicago Music Magazine, LLC
www.chicagomusicmagazine.com

Elizabeth Lauer
Editor and Senior Contributing Writer/Interviewer/Reviewer/Photographer
liz@chicagomusicmagazine.com

Kelly Milionis
Editor and Senior Contributing Writer/Interviewer/Reviewer/Photographer
kelly@chicagomusicmagazine.com

Contributing Writers:
Elizabeth Lauer       liz@chicagomusicmagazine.com
Kelly Milionis          kelly@chicagomusicmagazine.com

Contributing Photographers:
Elizabeth Lauer      liz@chicagomusicmagazine.com
Kelly Milionis          kelly@chicagomusicmagazine.com

 

Advertising:
advertising@chicagomusicmagazine.com
<p>WE DO ACCEPT AND ENCOURAGE SOLICITED AND UNSOLICITED SUBMISSIONS FROM ARTISTS OF ALL LEVELS INCLUDING INDEPENDENT ARTISTS.
We support up and coming artists and have dedicated our entire existence to discovering new music!!</p>
Music Submissions:

submissions@chicagomusicmagazine.com

Press Releases:
press@chicagomusicmagazine.com

Business or General Inquiries:
info@chicagomusicmagazine.com

Shawn Kellner
Founder, President, and Editor-In-Chief
shawn@chicagomusicmagazine.com

</p>

{% endblock %}